# our things go here
*_pb2.py
*.pb.cc
*.pb.h
*.so
*.hd
*.d
*.o
*.pyc
core
*~
*.sw?
!/tools/visualizations/local_click/Visualizer.swf
!/tools/visualizations/distributed_click/Visualizer.swf
tags
.tags*
*.sublime-workspace
*cscope*
*.o.cmd
*.ko.cmd
*.ko
*.a
perf.data
perf.data.old
ethtool-*
stat-*
asm
*.asm
*.htmlTEMP
xia.mk
.DS_Store
*.dSYM
.fuse*
*.gch
*.log

# directories
key
ca
publishers

# ignore session layer files on this branch only
api/session
applications/example/session
daemons/session
applications/example/videos/
daemons/xroute/xrouted
daemons/xcidrouted/bin/*
daemons/xcidrouted/log
!daemons/xcidrouted/bin/cleanup.sh
!daemons/xcidrouted/bin/getmap.sh
!daemons/xcidrouted/bin/getworkload.sh
!daemons/xcidrouted/bin/startrouted.sh
daemons/xcidrouted/stats/
arada/waveserver/waveserver
arada/waveserverip/waveserverip

# output from scripts
etc/click/host*.click
etc/click/router*.click
etc/click/dual_stack_host*.click
etc/click/dual_stack_router*.click

# planetlab
experiments/planetlab/logs/*.txt
experiments/planetlab/logs/tunneling
experiments/planetlab/logs/fourid

key/*

applications/video-use-case/src/manifest_server
applications/video-use-case/src/proxy
applications/video-use-case/src/video_publisher
applications/video-use-case/src/xia_manifest_urls_dash2.txt
resources/*
arada/pdrtestip/pdrtestipclient
arada/pdrtestip/pdrtestipserver
arada/waveserveripudp/waveserveripudp

# ignore git temp files
*_BACKUP_*
*_LOCAL_*
*_BASE_*
*_REMOTE_*
*.orig
# but don't ignore the .orig files that are in the click/driver tree. But why are they there???
!click/drivers/*.orig

# tool config files
compile_commands.json

xia_manifest_urls_*.txt

arada/pdrtestip/pdrtestipclient
arada/pdrtestip/pdrtestipserver
arada/waveserveripudp/waveserveripudp
