## click
# from click/.gitignore (don't modify)
config.cache
config.h
config.log
config.mk
config.status
click-buildtool
click-compile
elementmap
elementmap.xml
Makefile
stamp-h
stamp-egroup
bin
man
autom4te*
+*
depcomp
installch

# our entires to reduce accidental additions of build files
include/click/config-*.h
include/click/pathvars.h
include/click-linuxmodule/*
etc/pkg-config.mk
tools/*
userlevel/*.a
userlevel/*.d
userlevel/*.o.OSrvSV
userlevel/*.pb.*
userlevel/click
userlevel/elements.*
linuxmodule/*.mod.c
linuxmodule/.install-include*
linuxmodule/.tmp_versions/*
linuxmodule/elements.*
linuxmodule/ksyms.c
linuxmodule/Module.symvers
linuxmodule/modules.order

conf/xia_chain_topology.click

