require(library ../../click/conf/xia_router_lib.click);
require(library xia_address.click);

// router instantiation
${HNAME} :: XIAInstrumentedRouter4Port(RE $ADNAME $HID, $ADNAME, $HID, $EXTERNAL_IP, fake0, 172.0.0.2, 172.0.0.1, 21:11:11:11:11:11, $MAC0, $MAC1, $MAC2, $MAC3);

######
FromDevice($IFACE, PROMISC true) -> [$NUM]${HNAME}[$NUM] -> ToDevice($IFACE)
######
Idle -> [$NUM]${HNAME}[$NUM] -> Discard;
######

	ControlSocket(tcp, 7777);
