require(library xia_router_lib.click);
require(library xia_address.click);

// host instantiation
$HNAME :: XIAController (RE $ADNAME $HID, $ADNAME, $HID, $EXTERNAL_IP, 1500, $MAC0);

######
sock_server::Socket("UDP", 0.0.0.0, $PORT) -> [0]${HNAME}[0] -> socket_client::Socket("UDP", $SOCK_IP, $PORT);
######
FromDevice($IFACE, METHOD LINUX) -> [0]${HNAME}[0] -> ToDevice($IFACE);
######

    ControlSocket(tcp, 7777);
