require(library ../../../click/conf/xia_router_lib.click);
require(library xia_address.click);

log::XLog(VERBOSE 0, LEVEL 6);

// host instantiation
$HNAME :: XIAEndHost (RE $ADNAME $HID, $HID, 1500, 0, $MAC0);

######
sock_server::Socket("UDP", 0.0.0.0, $PORT) -> [0]${HNAME}[0] -> socket_client::Socket("UDP", $SOCK_IP, $PORT);
######
FromDevice($IFACE, METHOD LINUX) -> [0]${HNAME}[0] -> ToDevice($IFACE);
######

	ControlSocket(tcp, 7777);

