<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:theme:flancrest</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-09-24T19:33:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
						<key>PageDigests</key>
						<dict>
							<key>css/alignment/align_center.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPHv4SqRsAO
								7LEiBcuyeg==
								</data>
								<key>Size</key>
								<integer>209</integer>
							</dict>
							<key>css/alignment/align_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								D2hHTmAQ6AwG
								WclhHcuanw==
								</data>
								<key>Size</key>
								<integer>85</integer>
							</dict>
							<key>css/banners/banner_beach.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ULW7KO+ui1nC
								lDLbkbklIw==
								</data>
								<key>Size</key>
								<integer>79</integer>
							</dict>
							<key>css/banners/banner_computer.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbtUlhff/1E
								C84Irwlqqg==
								</data>
								<key>Size</key>
								<integer>82</integer>
							</dict>
							<key>css/banners/banner_default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yNcdOjRzCYci
								Crvf5za9Dg==
								</data>
								<key>Size</key>
								<integer>257</integer>
							</dict>
							<key>css/banners/banner_pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AnQwSZu5CNxl
								6qBRN2INIw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>css/banners/banner_sunset.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zhRU9UokXP/d
								3tA19HvpIQ==
								</data>
								<key>Size</key>
								<integer>80</integer>
							</dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hD1yXD3Hvcw5
								xhpuM0VHpQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								thxr9LHrh5JC
								K6lN0LKAGQ==
								</data>
								<key>Size</key>
								<integer>174</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3+wnnSXbikAx
								+LwaS1e5eg==
								</data>
								<key>Size</key>
								<integer>283</integer>
							</dict>
							<key>css/styles/blue.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qq+4BsstZH+p
								i/VNW1SUIA==
								</data>
								<key>Size</key>
								<integer>1046</integer>
							</dict>
							<key>css/styles/pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rSpm9VdNN2r7
								FZ50xUnPnA==
								</data>
								<key>Size</key>
								<integer>1002</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>images/beach_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0Bci7152WReR
								X223GaRr3w==
								</data>
								<key>Size</key>
								<integer>131551</integer>
							</dict>
							<key>images/body_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2OtN1t6FI4ED
								7kdAeRtcLg==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/body_top_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UBcWG5aTWvNb
								qF1vII9g3w==
								</data>
								<key>Size</key>
								<integer>163</integer>
							</dict>
							<key>images/computer_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NONf6e9NZbt
								qcsmXtxDwA==
								</data>
								<key>Size</key>
								<integer>137673</integer>
							</dict>
							<key>images/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								K+YXpZvlmxsF
								Caz6sZ9mPg==
								</data>
								<key>Size</key>
								<integer>247</integer>
							</dict>
							<key>images/pacific/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FvGByGaGLGsV
								/lzwe+0M8Q==
								</data>
								<key>Size</key>
								<integer>181</integer>
							</dict>
							<key>images/pacific/pacific_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KkdX0+RDqZS3
								5hOc6g1TNw==
								</data>
								<key>Size</key>
								<integer>107847</integer>
							</dict>
							<key>images/sidebar_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/uigGl0bOlho
								TKWxmujICQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/sunset_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AXTvff3HnkAc
								ZD2CbYlGfQ==
								</data>
								<key>Size</key>
								<integer>121236</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X/YNLz1VR46q
								j+qGgZy7TA==
								</data>
								<key>Size</key>
								<integer>3796</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Brkh+tqdMcbs
								5uB4MjOKgA==
								</data>
								<key>Size</key>
								<integer>11125</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:flancrest</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:smartbusiness</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-10-25T20:36:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
						<key>PageDigests</key>
						<dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Gqa5+n//QsyQ
								hWO1VQAElA==
								</data>
								<key>Size</key>
								<integer>412</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								thxr9LHrh5JC
								K6lN0LKAGQ==
								</data>
								<key>Size</key>
								<integer>174</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7bbtBN6owmr7
								qmUQibqpIA==
								</data>
								<key>Size</key>
								<integer>531</integer>
							</dict>
							<key>css/styles/blue.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rOiZ9qajX2nD
								bWMeZzEZyg==
								</data>
								<key>Size</key>
								<integer>1602</integer>
							</dict>
							<key>css/styles/grey.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lS0C4Eea3FcN
								LItPWWn/lg==
								</data>
								<key>Size</key>
								<integer>1669</integer>
							</dict>
							<key>css/width/width_1000.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fx3AgSeEqWud
								0Ccito1bSg==
								</data>
								<key>Size</key>
								<integer>39</integer>
							</dict>
							<key>css/width/width_680.css</key>
							<dict>
								<key>Digest</key>
								<data>
								O0Lg78chFCqG
								BhBcn0w6xQ==
								</data>
								<key>Size</key>
								<integer>38</integer>
							</dict>
							<key>css/width/width_default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X8xm4KwAguRW
								rtn/Y9KTPQ==
								</data>
								<key>Size</key>
								<integer>158</integer>
							</dict>
							<key>css/width/width_variable.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pscpKnXbhMXY
								/KzB0alv4g==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>ie.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Wdf0Tckxj3ch
								P/PhulrKUA==
								</data>
								<key>Size</key>
								<integer>34</integer>
							</dict>
							<key>images/button_normal.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LKvbzkJn2g1Z
								zrqv0hc8rQ==
								</data>
								<key>Size</key>
								<integer>2669</integer>
							</dict>
							<key>images/button_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UuT4jXoTW7tA
								Qw659Zm3YQ==
								</data>
								<key>Size</key>
								<integer>2304</integer>
							</dict>
							<key>images/content_hide_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MZTLvOAqd8xK
								Av2Y50XLjQ==
								</data>
								<key>Size</key>
								<integer>162</integer>
							</dict>
							<key>images/content_sideleft_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ODtoflfFahOV
								dnRC/JZaRA==
								</data>
								<key>Size</key>
								<integer>167</integer>
							</dict>
							<key>images/content_sideright_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qof0Da6m7da6
								pWalybhrgQ==
								</data>
								<key>Size</key>
								<integer>167</integer>
							</dict>
							<key>images/content_top_hide.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y0GYRAq+h7i+
								KbH8zw3dQQ==
								</data>
								<key>Size</key>
								<integer>514</integer>
							</dict>
							<key>images/content_top_left.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qy9itnKAotVc
								Ih8iuNOpSw==
								</data>
								<key>Size</key>
								<integer>574</integer>
							</dict>
							<key>images/content_top_right.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wPEHT/xe92vE
								S1TSFX6ayA==
								</data>
								<key>Size</key>
								<integer>582</integer>
							</dict>
							<key>images/footer_sidehide_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BQ0bjfMhja3s
								oBCL6CpOwA==
								</data>
								<key>Size</key>
								<integer>1068</integer>
							</dict>
							<key>images/footer_sideleft_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oDAjnFYLt6eH
								twGSrzrsIA==
								</data>
								<key>Size</key>
								<integer>1135</integer>
							</dict>
							<key>images/footer_sideright_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FeAplepRj876
								fbZDEd9FCA==
								</data>
								<key>Size</key>
								<integer>1145</integer>
							</dict>
							<key>images/grey/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y6ZofDp0ZBMC
								9bqafWn43Q==
								</data>
								<key>Size</key>
								<integer>12523</integer>
							</dict>
							<key>images/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YlEHKxoaA9mG
								dt/nLdRW9w==
								</data>
								<key>Size</key>
								<integer>37491</integer>
							</dict>
							<key>images/sub_bullet_blue.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R/gxNCNA1QmO
								6sdbeF6MDQ==
								</data>
								<key>Size</key>
								<integer>460</integer>
							</dict>
							<key>images/sub_bullet_grey.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DypZhRT9Kvat
								6nCVY6E07A==
								</data>
								<key>Size</key>
								<integer>3100</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X/YNLz1VR46q
								j+qGgZy7TA==
								</data>
								<key>Size</key>
								<integer>3796</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NCeREIcQG1Ej
								wTHKiHqtXA==
								</data>
								<key>Size</key>
								<integer>11063</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:smartbusiness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUIZ2hUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAVCQoR
				HSAnLDA0ODxASExRVVZaXWFlVSRudWxs0gsMDRBaTlMu
				b2JqZWN0c1YkY2xhc3OiDg+AAoALgBTWEhMUDBUWFxgZ
				GhscWE5vZGUgTWFwWVJlc291cmNlc1hQYXRoIE1hcF5J
				ZGVudGlmaWVyIE1hcFhQYWdlIE1hcIAHgAOACYAKgAWA
				CNILDB4foIAE0iEiIyRYJGNsYXNzZXNaJGNsYXNzbmFt
				ZaMkJSZcTlNNdXRhYmxlU2V0VU5TU2V0WE5TT2JqZWN0
				0wsoDCkqK1dOUy5rZXlzoKCABtIhIi0uoy4vJl8QE05T
				TXV0YWJsZURpY3Rpb25hcnlcTlNEaWN0aW9uYXJ50wso
				DDEyK6CggAbTCygMNTYroKCABtMLKAw5OiugoIAG0iEi
				PT+iPiZfEBJSV1Jlc291cmNlRGF0YWJhc2VfEBJSV1Jl
				c291cmNlRGF0YWJhc2XUQQxCQ0RFRkZYQ2hpbGRyZW5f
				EBJSZXByZXNlbnRlZCBPYmplY3RWUGFyZW50gAyAE4AA
				gADSCwxJS6FKgA2AEtRBDEJDTUVPD4ARgBOADoAL0lIM
				U1RUTmFtZYAPgBBZRG9jdW1lbnRz0iEiV1miWCZcUldT
				aXRlRm9sZGVyXFJXU2l0ZUZvbGRlctILDFtLoIAS0iEi
				Xl+jX2AmXk5TTXV0YWJsZUFycmF5V05TQXJyYXnSISJi
				ZKJjJl8QEFJXU291cmNlTGlzdE5vZGVfEBBSV1NvdXJj
				ZUxpc3ROb2Rl0iEiZmCiYCYSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABUAFoAXwBq
				AHEAdAB2AHgAegCHAJAAmgCjALIAuwC9AL8AwQDDAMUA
				xwDMAM0AzwDUAN0A6ADsAPkA/wEIAQ8BFwEYARkBGwEg
				ASQBOgFHAU4BTwFQAVIBWQFaAVsBXQFkAWUBZgFoAW0B
				cAGFAZoBowGsAcEByAHKAcwBzgHQAdUB1wHZAdsB5AHm
				AegB6gHsAfEB9gH4AfoCBAIJAgwCGQImAisCLAIuAjMC
				NwJGAk4CUwJWAmkCfAKBAoQCiQAAAAAAAAIBAAAAAAAA
				AGkAAAAAAAAAAAAAAAAAAAKb
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.cs.cmu.edu/afs/cs/project/xia/www/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>eXpressive Internet Architecture</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>amiller@cs.cmu.edu</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/afs/cs.cmu.edu/project/xia/www/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>linux.gp.cs.cmu.edu</string>
							<key>sftp</key>
							<true/>
							<key>user</key>
							<string>sukbokl</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Smart Business</string>
					<key>TitleText</key>
					<string>eXpressive Internet Architecture </string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
