<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:document:resources</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-11-22T20:39:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
						<key>PageDigests</key>
						<dict>
							<key>Documents/SCION-august-2011.pdf</key>
							<dict>
								<key>Digest</key>
								<data>
								LCV/gLqJqwZi
								j2rxiiXTMw==
								</data>
								<key>Size</key>
								<integer>1069306</integer>
							</dict>
							<key>Documents/cscw2012-449.pdf</key>
							<dict>
								<key>Digest</key>
								<data>
								zBOyex8EMhRR
								ZJyxLgMRwQ==
								</data>
								<key>Size</key>
								<integer>614120</integer>
							</dict>
							<key>Documents/cscw2012_Github-paper-FinalVersion-1.pdf</key>
							<dict>
								<key>Digest</key>
								<data>
								ar9dcNWupMzf
								sSi5d8+pyg==
								</data>
								<key>Size</key>
								<integer>920778</integer>
							</dict>
							<key>Documents/photo-1.JPG</key>
							<dict>
								<key>Digest</key>
								<data>
								UpJMKv9z2wLf
								9SW1mUL8bw==
								</data>
								<key>Size</key>
								<integer>1793386</integer>
							</dict>
							<key>Documents/photo-2.JPG</key>
							<dict>
								<key>Digest</key>
								<data>
								YQHkDAxeL0gP
								POkt+M7wyQ==
								</data>
								<key>Size</key>
								<integer>1733953</integer>
							</dict>
							<key>Documents/xia-hotnets.pdf</key>
							<dict>
								<key>Digest</key>
								<data>
								AIyiS0yBw5Z6
								vwX8tWuUZw==
								</data>
								<key>Size</key>
								<integer>195251</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:flancrest</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-09-24T19:33:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
						<key>PageDigests</key>
						<dict>
							<key>css/alignment/align_center.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPHv4SqRsAO
								7LEiBcuyeg==
								</data>
								<key>Size</key>
								<integer>209</integer>
							</dict>
							<key>css/alignment/align_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								D2hHTmAQ6AwG
								WclhHcuanw==
								</data>
								<key>Size</key>
								<integer>85</integer>
							</dict>
							<key>css/banners/banner_beach.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ULW7KO+ui1nC
								lDLbkbklIw==
								</data>
								<key>Size</key>
								<integer>79</integer>
							</dict>
							<key>css/banners/banner_computer.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbtUlhff/1E
								C84Irwlqqg==
								</data>
								<key>Size</key>
								<integer>82</integer>
							</dict>
							<key>css/banners/banner_default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yNcdOjRzCYci
								Crvf5za9Dg==
								</data>
								<key>Size</key>
								<integer>257</integer>
							</dict>
							<key>css/banners/banner_pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AnQwSZu5CNxl
								6qBRN2INIw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>css/banners/banner_sunset.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zhRU9UokXP/d
								3tA19HvpIQ==
								</data>
								<key>Size</key>
								<integer>80</integer>
							</dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hD1yXD3Hvcw5
								xhpuM0VHpQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								thxr9LHrh5JC
								K6lN0LKAGQ==
								</data>
								<key>Size</key>
								<integer>174</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3+wnnSXbikAx
								+LwaS1e5eg==
								</data>
								<key>Size</key>
								<integer>283</integer>
							</dict>
							<key>css/styles/blue.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qq+4BsstZH+p
								i/VNW1SUIA==
								</data>
								<key>Size</key>
								<integer>1046</integer>
							</dict>
							<key>css/styles/pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rSpm9VdNN2r7
								FZ50xUnPnA==
								</data>
								<key>Size</key>
								<integer>1002</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>images/beach_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0Bci7152WReR
								X223GaRr3w==
								</data>
								<key>Size</key>
								<integer>131551</integer>
							</dict>
							<key>images/body_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2OtN1t6FI4ED
								7kdAeRtcLg==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/body_top_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UBcWG5aTWvNb
								qF1vII9g3w==
								</data>
								<key>Size</key>
								<integer>163</integer>
							</dict>
							<key>images/computer_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NONf6e9NZbt
								qcsmXtxDwA==
								</data>
								<key>Size</key>
								<integer>137673</integer>
							</dict>
							<key>images/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								K+YXpZvlmxsF
								Caz6sZ9mPg==
								</data>
								<key>Size</key>
								<integer>247</integer>
							</dict>
							<key>images/pacific/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FvGByGaGLGsV
								/lzwe+0M8Q==
								</data>
								<key>Size</key>
								<integer>181</integer>
							</dict>
							<key>images/pacific/pacific_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KkdX0+RDqZS3
								5hOc6g1TNw==
								</data>
								<key>Size</key>
								<integer>107847</integer>
							</dict>
							<key>images/sidebar_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/uigGl0bOlho
								TKWxmujICQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/sunset_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AXTvff3HnkAc
								ZD2CbYlGfQ==
								</data>
								<key>Size</key>
								<integer>121236</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X/YNLz1VR46q
								j+qGgZy7TA==
								</data>
								<key>Size</key>
								<integer>3796</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Brkh+tqdMcbs
								5uB4MjOKgA==
								</data>
								<key>Size</key>
								<integer>11125</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:flancrest</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:smartbusiness</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-11-09T22:08:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
						<key>PageDigests</key>
						<dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Gqa5+n//QsyQ
								hWO1VQAElA==
								</data>
								<key>Size</key>
								<integer>412</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								thxr9LHrh5JC
								K6lN0LKAGQ==
								</data>
								<key>Size</key>
								<integer>174</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7bbtBN6owmr7
								qmUQibqpIA==
								</data>
								<key>Size</key>
								<integer>531</integer>
							</dict>
							<key>css/styles/blue.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rOiZ9qajX2nD
								bWMeZzEZyg==
								</data>
								<key>Size</key>
								<integer>1602</integer>
							</dict>
							<key>css/styles/grey.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lS0C4Eea3FcN
								LItPWWn/lg==
								</data>
								<key>Size</key>
								<integer>1669</integer>
							</dict>
							<key>css/width/width_1000.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fx3AgSeEqWud
								0Ccito1bSg==
								</data>
								<key>Size</key>
								<integer>39</integer>
							</dict>
							<key>css/width/width_680.css</key>
							<dict>
								<key>Digest</key>
								<data>
								O0Lg78chFCqG
								BhBcn0w6xQ==
								</data>
								<key>Size</key>
								<integer>38</integer>
							</dict>
							<key>css/width/width_default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X8xm4KwAguRW
								rtn/Y9KTPQ==
								</data>
								<key>Size</key>
								<integer>158</integer>
							</dict>
							<key>css/width/width_variable.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pscpKnXbhMXY
								/KzB0alv4g==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>ie.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Wdf0Tckxj3ch
								P/PhulrKUA==
								</data>
								<key>Size</key>
								<integer>34</integer>
							</dict>
							<key>images/button_normal.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LKvbzkJn2g1Z
								zrqv0hc8rQ==
								</data>
								<key>Size</key>
								<integer>2669</integer>
							</dict>
							<key>images/button_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UuT4jXoTW7tA
								Qw659Zm3YQ==
								</data>
								<key>Size</key>
								<integer>2304</integer>
							</dict>
							<key>images/content_hide_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MZTLvOAqd8xK
								Av2Y50XLjQ==
								</data>
								<key>Size</key>
								<integer>162</integer>
							</dict>
							<key>images/content_sideleft_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ODtoflfFahOV
								dnRC/JZaRA==
								</data>
								<key>Size</key>
								<integer>167</integer>
							</dict>
							<key>images/content_sideright_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qof0Da6m7da6
								pWalybhrgQ==
								</data>
								<key>Size</key>
								<integer>167</integer>
							</dict>
							<key>images/content_top_hide.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y0GYRAq+h7i+
								KbH8zw3dQQ==
								</data>
								<key>Size</key>
								<integer>514</integer>
							</dict>
							<key>images/content_top_left.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qy9itnKAotVc
								Ih8iuNOpSw==
								</data>
								<key>Size</key>
								<integer>574</integer>
							</dict>
							<key>images/content_top_right.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wPEHT/xe92vE
								S1TSFX6ayA==
								</data>
								<key>Size</key>
								<integer>582</integer>
							</dict>
							<key>images/footer_sidehide_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BQ0bjfMhja3s
								oBCL6CpOwA==
								</data>
								<key>Size</key>
								<integer>1068</integer>
							</dict>
							<key>images/footer_sideleft_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oDAjnFYLt6eH
								twGSrzrsIA==
								</data>
								<key>Size</key>
								<integer>1135</integer>
							</dict>
							<key>images/footer_sideright_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FeAplepRj876
								fbZDEd9FCA==
								</data>
								<key>Size</key>
								<integer>1145</integer>
							</dict>
							<key>images/grey/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y6ZofDp0ZBMC
								9bqafWn43Q==
								</data>
								<key>Size</key>
								<integer>12523</integer>
							</dict>
							<key>images/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YlEHKxoaA9mG
								dt/nLdRW9w==
								</data>
								<key>Size</key>
								<integer>37491</integer>
							</dict>
							<key>images/sub_bullet_blue.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R/gxNCNA1QmO
								6sdbeF6MDQ==
								</data>
								<key>Size</key>
								<integer>460</integer>
							</dict>
							<key>images/sub_bullet_grey.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DypZhRT9Kvat
								6nCVY6E07A==
								</data>
								<key>Size</key>
								<integer>3100</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X/YNLz1VR46q
								j+qGgZy7TA==
								</data>
								<key>Size</key>
								<integer>3796</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								caVYJLwb3Y1s
								OKlZ/R7R6g==
								</data>
								<key>Size</key>
								<integer>11534</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:smartbusiness</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/smartbusiness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAIAXwBfVQkdG9wWCRv
				YmplY3RzWCR2ZXJzaW9uWSRhcmNoaXZlctEABgAHVHJv
				b3SAAa8QVQAJAAoAEQAdACYAOAA8AEAARwBLAEwATQBR
				AFQAWABiAGUAaABpAGoAbQB3AHoAfQB+AH8AggCMAI8A
				kgCTAJQAlwChAKQApwCoAKkArAC2ALkAvAC9AL4AwQDF
				ANYA2gDqAPIA9QD5AP4BAQECAQYBDwEUARcBGwEgASMB
				KAErATABMwE4ATsBQAFEAUgBWAFZAVoBWwFcAV0BXgFi
				AWYBagFuAXIBdgF6VSRudWxs0gALAAwADQAQWk5TLm9i
				amVjdHNWJGNsYXNzogAOAA+AAoBDgFTWABIAEwAUAAwA
				FQAWABcAGAAZABoAGwAcWE5vZGUgTWFwWVJlc291cmNl
				c1hQYXRoIE1hcF5JZGVudGlmaWVyIE1hcFhQYWdlIE1h
				cIAvgAOARoBTgC2ARdIACwAMAB4AJaYAHwAgACEAIgAj
				ACSABIAOgBSAGoAggCaALNkAJwAoACkAKgArACwALQAM
				AC4ALwAwADEAMgAzADIANQA2ADJUTmFtZVVBbGlhc1pJ
				ZGVudGlmaWVyXVB1Ymxpc2hlZERhdGVZVGltZVN0YW1w
				XFB1Ymxpc2hlZFVSTFdDaGFuZ2VkVFNsdWeACoAFgAmA
				AIALgAAIgA2AANIAOQAMADoAO1IkMIAGgAjSAD0ADAA+
				AD9XTlMuZGF0YU8RAZoAAAAAAZoAAgAADE1hY2ludG9z
				aCBIRAAAAAAAAAAAAAAAAAAAAMPjClZIKwAAAdOYPxVT
				Q0lPTi1hdWd1c3QtMjAxMS5wZGYAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADZeOR
				yvFtCgAAAAAAAAAA/////wAACSAAAAAAAAAAAAAAAAAA
				AAAGLlRyYXNoABAACAAAw+NQpgAAABEACAAAyvGzWgAA
				AAEADAHTmD8ADEUyAAB63AACADxNYWNpbnRvc2ggSEQ6
				VXNlcnM6YW5nZWxhbWlsbGVyOi5UcmFzaDpTQ0lPTi1h
				dWd1c3QtMjAxMS5wZGYADgAsABUAUwBDAEkATwBOAC0A
				YQB1AGcAdQBzAHQALQAyADAAMQAxAC4AcABkAGYADwAa
				AAwATQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAvVXNl
				cnMvYW5nZWxhbWlsbGVyLy5UcmFzaC9TQ0lPTi1hdWd1
				c3QtMjAxMS5wZGYAABMAAS8AABUAAgAT//8AAIAH0gBB
				AEIAQwBEWCRjbGFzc2VzWiRjbGFzc25hbWWjAEQARQBG
				XU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN00gBB
				AEIASABKogBJAEZXQkRBbGlhc1dCREFsaWFzXxAkN0M1
				MzY2NDgtMUUzRi00M0E4LTgxRkQtOEMyQ0E3NzQwNURD
				XxAVU0NJT04tYXVndXN0LTIwMTEucGRm0gAMAE4ATwBQ
				V05TLnRpbWWADCNBtPC8tHbK3tIAQQBCAFIAU6IAUwBG
				Vk5TRGF0ZdIAQQBCAFUAV6IAVgBGXlJXU2l0ZVJlc291
				cmNlXlJXU2l0ZVJlc291cmNl2QAnACgAKQAqACsALAAt
				AAwALgBZAFoAWwAyAF0AMgA1ADYAMoASgA+AEYAAgBOA
				AAiADYAA0gA5AAwAYwA7gBCACNIAPQAMAGYAP08RAagA
				AAAAAagAAgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAA
				AAAAAMPjClZIKwAAA1sRrwtwaG90byAxLkpQRwAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAADZeNPyvFs+gAAAAAAAAAA////
				/wAACSAAAAAAAAAAAAAAAAAAAAARWElBIFdlYiBNYXRl
				cmlhbHMAABAACAAAw+NQpgAAABEACAAAyvGzSgAAAAEA
				EANbEa8ADEU7AAxFMgAAetwAAgBFTWFjaW50b3NoIEhE
				OlVzZXJzOmFuZ2VsYW1pbGxlcjpEZXNrdG9wOlhJQSBX
				ZWIgTWF0ZXJpYWxzOnBob3RvIDEuSlBHAAAOABgACwBw
				AGgAbwB0AG8AIAAxAC4ASgBQAEcADwAaAAwATQBhAGMA
				aQBuAHQAbwBzAGgAIABIAEQAEgA4VXNlcnMvYW5nZWxh
				bWlsbGVyL0Rlc2t0b3AvWElBIFdlYiBNYXRlcmlhbHMv
				cGhvdG8gMS5KUEcAEwABLwAAFQACABP//wAAgAdfECRE
				MTk3MkMwMC05QzFBLTRFRTQtQTU1MC1FM0I4RTZCQTY5
				NzlbcGhvdG8gMS5KUEfSAAwATgBPAGyADCNBtPC8tHbL
				Q9kAJwAoACkAKgArACwALQAMAC4AbgBvAHAAMgByADIA
				NQA2ADKAGIAVgBeAAIAZgAAIgA2AANIAOQAMAHgAO4AW
				gAjSAD0ADAB7AD9PEQGCAAAAAAGCAAIAAAxNYWNpbnRv
				c2ggSEQAAAAAAAAAAAAAAAAAAADD4wpWSCsAAAHTmD8P
				eGlhLWhvdG5ldHMucGRmAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2XU
				dMrxZZsAAAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAA
				AAAABi5UcmFzaAAQAAgAAMPjUKYAAAARAAgAAMrxq+sA
				AAABAAwB05g/AAxFMgAAetwAAgA2TWFjaW50b3NoIEhE
				OlVzZXJzOmFuZ2VsYW1pbGxlcjouVHJhc2g6eGlhLWhv
				dG5ldHMucGRmAA4AIAAPAHgAaQBhAC0AaABvAHQAbgBl
				AHQAcwAuAHAAZABmAA8AGgAMAE0AYQBjAGkAbgB0AG8A
				cwBoACAASABEABIAKVVzZXJzL2FuZ2VsYW1pbGxlci8u
				VHJhc2gveGlhLWhvdG5ldHMucGRmAAATAAEvAAAVAAIA
				E///AACAB18QJDEwN0M5RTcxLUUzOTItNDlCQS05RTMx
				LTA1RDZFMTg4MUNDMl8QD3hpYS1ob3RuZXRzLnBkZtIA
				DABOAE8AgYAMI0G08Ly0dstk2QAnACgAKQAqACsALAAt
				AAwALgCDAIQAhQAyAIcAMgA1ADYAMoAegBuAHYAAgB+A
				AAiADYAA0gA5AAwAjQA7gByACNIAPQAMAJAAP08RAbwA
				AAAAAbwAAgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAA
				AAAAAMPjClZIKwAAA1sRrxBjc2N3MjAxMiA0NDkucGRm
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAADZeMDyvFs7QAAAAAAAAAA////
				/wAACSAAAAAAAAAAAAAAAAAAAAARWElBIFdlYiBNYXRl
				cmlhbHMAABAACAAAw+NQpgAAABEACAAAyvGzPQAAAAEA
				EANbEa8ADEU7AAxFMgAAetwAAgBKTWFjaW50b3NoIEhE
				OlVzZXJzOmFuZ2VsYW1pbGxlcjpEZXNrdG9wOlhJQSBX
				ZWIgTWF0ZXJpYWxzOmNzY3cyMDEyIDQ0OS5wZGYADgAi
				ABAAYwBzAGMAdwAyADAAMQAyACAANAA0ADkALgBwAGQA
				ZgAPABoADABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAAS
				AD1Vc2Vycy9hbmdlbGFtaWxsZXIvRGVza3RvcC9YSUEg
				V2ViIE1hdGVyaWFscy9jc2N3MjAxMiA0NDkucGRmAAAT
				AAEvAAAVAAIAE///AACAB18QJDlDOEJBMkFCLUI2ODQt
				NEZDRi04RTdDLTY5M0I4QTY4ODQ1Rl8QEGNzY3cyMDEy
				IDQ0OS5wZGbSAAwATgBPAJaADCNBtPC8tHbLddkAJwAo
				ACkAKgArACwALQAMAC4AmACZAJoAMgCcADIANQA2ADKA
				JIAhgCOAAIAlgAAIgA2AANIAOQAMAKIAO4AigAjSAD0A
				DAClAD9PEQGoAAAAAAGoAAIAAAxNYWNpbnRvc2ggSEQA
				AAAAAAAAAAAAAAAAAADD4wpWSCsAAANbEa8LcGhvdG8g
				Mi5KUEcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2XjeMrxbQUA
				AAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAAAAAAEVhJ
				QSBXZWIgTWF0ZXJpYWxzAAAQAAgAAMPjUKYAAAARAAgA
				AMrxs1UAAAABABADWxGvAAxFOwAMRTIAAHrcAAIARU1h
				Y2ludG9zaCBIRDpVc2VyczphbmdlbGFtaWxsZXI6RGVz
				a3RvcDpYSUEgV2ViIE1hdGVyaWFsczpwaG90byAyLkpQ
				RwAADgAYAAsAcABoAG8AdABvACAAMgAuAEoAUABHAA8A
				GgAMAE0AYQBjAGkAbgB0AG8AcwBoACAASABEABIAOFVz
				ZXJzL2FuZ2VsYW1pbGxlci9EZXNrdG9wL1hJQSBXZWIg
				TWF0ZXJpYWxzL3Bob3RvIDIuSlBHABMAAS8AABUAAgAT
				//8AAIAHXxAkMzY5NjQ0NjItQkNGRC00NzNELTlGNTYt
				NkM1REUyRkYyMDA2W3Bob3RvIDIuSlBH0gAMAE4ATwCr
				gAwjQbTwvLR2y6fZACcAKAApACoAKwAsAC0ADAAuAK0A
				rgCvADIAsQAyADUANgAygCqAJ4ApgACAK4AACIANgADS
				ADkADAC3ADuAKIAI0gA9AAwAugA/TxECFAAAAAACFAAC
				AAAMTWFjaW50b3NoIEhEAAAAAAAAAAAAAAAAAAAAw+MK
				VkgrAAADWxGvH2NzY3cyMDEyX0dpdGh1Yi1wYXAjMzY1
				RTFCNC5wZGYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAANl4bTK8WxPAAAAAAAAAAD/////AAAJIAAA
				AAAAAAAAAAAAAAAAABFYSUEgV2ViIE1hdGVyaWFscwAA
				EAAIAADD41CmAAAAEQAIAADK8bKfAAAAAQAQA1sRrwAM
				RTsADEUyAAB63AACAFlNYWNpbnRvc2ggSEQ6VXNlcnM6
				YW5nZWxhbWlsbGVyOkRlc2t0b3A6WElBIFdlYiBNYXRl
				cmlhbHM6Y3NjdzIwMTJfR2l0aHViLXBhcCMzNjVFMUI0
				LnBkZgAADgBSACgAYwBzAGMAdwAyADAAMQAyAF8ARwBp
				AHQAaAB1AGIALQBwAGEAcABlAHIALQBGAGkAbgBhAGwA
				VgBlAHIAcwBpAG8AbgAtADEALgBwAGQAZgAPABoADABN
				AGEAYwBpAG4AdABvAHMAaAAgAEgARAASAFVVc2Vycy9h
				bmdlbGFtaWxsZXIvRGVza3RvcC9YSUEgV2ViIE1hdGVy
				aWFscy9jc2N3MjAxMl9HaXRodWItcGFwZXItRmluYWxW
				ZXJzaW9uLTEucGRmAAATAAEvAAAVAAIAE///AACAB18Q
				JDM2OTk5RTZCLUFEQzctNDM0OS05RkVDLTUxQUNBNzk4
				QTk3NF8QKGNzY3cyMDEyX0dpdGh1Yi1wYXBlci1GaW5h
				bFZlcnNpb24tMS5wZGbSAAwATgBPAMCADCNBtPC8tHbL
				uNIAQQBCAMIAw6MAwwDEAEZcTlNNdXRhYmxlU2V0VU5T
				U2V00wALAMYADADHAM4A1VdOUy5rZXlzpgAiACEAHwAk
				ACMAIIAagBSABIAmgCCADqYAhQBwADEArwCaAFuAHYAX
				gAmAKYAjgBGALtIAQQBCANcA2KMA2ADZAEZfEBNOU011
				dGFibGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMACwDG
				AAwA2wDiANWmANwA3QDeAN8A4ADhgDCAOIA9gDuAQYA/
				pgCFAHAAMQCvAJoAW4AdgBeACYApgCOAEYAu1ADrAAwA
				7ADtAO4A7wAiAPFYQ2hpbGRyZW5fEBJSZXByZXNlbnRl
				ZCBPYmplY3RWUGFyZW50gDGAOoAagDPSAAsADADzAPSg
				gDLSAEEAQgD2APejAPcA+ABGXk5TTXV0YWJsZUFycmF5
				V05TQXJyYXnUAOsADADsAO0A+gDvAPwAD4A3gDqANIBD
				0gAnAAwA/wEAgDWANllEb2N1bWVudHPSAEEAQgEDAQWi
				AQQARlxSV1NpdGVGb2xkZXJcUldTaXRlRm9sZGVy0gAL
				AAwBBwD0pgDdAN8A3ADeAOEA4IA4gDuAMIA9gD+AQYAy
				1ADrAAwA7ADtARAA7wAhAPGAOYA6gBSAM9IACwAMARUA
				9KCAMtIAQQBCARgBGqIBGQBGXxAQUldTb3VyY2VMaXN0
				Tm9kZV8QEFJXU291cmNlTGlzdE5vZGXUAOsADADsAO0B
				HADvACQA8YA8gDqAJoAz0gALAAwBIQD0oIAy1ADrAAwA
				7ADtASQA7wAfAPGAPoA6gASAM9IACwAMASkA9KCAMtQA
				6wAMAOwA7QEsAO8AIADxgECAOoAOgDPSAAsADAExAPSg
				gDLUAOsADADsAO0BNADvACMA8YBCgDqAIIAz0gALAAwB
				OQD0oIAy1ADrAAwA7ADtATwA7wAyADKARIA6gACAANIA
				CwAMAUEA9KEA8YAzgDLTAAsAxgAMAUUBRgDVoKCALtMA
				CwDGAAwBSQFQANWmAUoBSwFMAU0BTgFPgE2AToBPgFCA
				UYBSpgFRAVIBUwFUAVUBVoBHgEiASYBKgEuATIAuXxAr
				L1VzZXJzL2FuZ2VsYW1pbGxlci9EZXNrdG9wL3hpYS1o
				b3RuZXRzLnBkZl8QMS9Vc2Vycy9hbmdlbGFtaWxsZXIv
				RGVza3RvcC9TQ0lPTi1hdWd1c3QtMjAxMS5wZGZfECcv
				VXNlcnMvYW5nZWxhbWlsbGVyL0Rlc2t0b3AvcGhvdG8g
				Mi5KUEdfEEQvVXNlcnMvYW5nZWxhbWlsbGVyL0Rlc2t0
				b3AvY3NjdzIwMTJfR2l0aHViLXBhcGVyLUZpbmFsVmVy
				c2lvbi0xLnBkZl8QOS9Vc2Vycy9hbmdlbGFtaWxsZXIv
				RGVza3RvcC9YSUEgV2ViIE1hdGVyaWFscy9waG90byAx
				LkpQR18QLC9Vc2Vycy9hbmdlbGFtaWxsZXIvRGVza3Rv
				cC9jc2N3MjAxMiA0NDkucGRm0gALAAwBXwAloQAhgBSA
				LNIACwAMAWMAJaEAH4AEgCzSAAsADAFnACWhACOAIIAs
				0gALAAwBawAloQAkgCaALNIACwAMAW8AJaEAIIAOgCzS
				AAsADAFzACWhACKAGoAs0gBBAEIBdwF5ogF4AEZfEBJS
				V1Jlc291cmNlRGF0YWJhc2VfEBJSV1Jlc291cmNlRGF0
				YWJhc2XSAEEAQgF7APiiAPgARhIAAYagXxAPTlNLZXll
				ZEFyY2hpdmVyAAgAGQAeACcAMAA6AD8ARABGAPMA+QEC
				AQ0BFAEZARsBHQEfATgBQQFLAVQBYwFsAW4BcAFyAXQB
				dgF4AYEBjgGQAZIBlAGWAZgBmgGcAcEBxgHMAdcB5QHv
				AfwCBAIJAgsCDQIPAhECEwIVAhYCGAIaAiMCJgIoAioC
				MwI7A9kD2wPkA+0D+AP/BA0EFAQdBCYEKwQzBDsEYgR6
				BIMEiwSNBJYEnwSkBKsEtAS5BMgE1wT8BP4FAAUCBQQF
				BgUIBQkFCwUNBRYFGAUaBSMGzwbRBvgHBAcNBw8HGAc9
				Bz8HQQdDB0UHRwdJB0oHTAdOB1cHWQdbB2QI6gjsCRMJ
				JQkuCTAJOQleCWAJYglkCWYJaAlqCWsJbQlvCXgJegl8
				CYULRQtHC24LgQuKC4wLlQu6C7wLvgvAC8ILxAvGC8cL
				yQvLC9QL1gvYC+ENjQ2PDbYNwg3LDc0N1g37Df0N/w4B
				DgMOBQ4HDggOCg4MDhUOFw4ZDiIQOhA8EGMQjhCXEJkQ
				ohCrELIQvxDFENIQ2hDnEOkQ6xDtEO8Q8RDzEQARAhEE
				EQYRCBEKEQwRDhEXER4RNBFBEU4RWxFdEV8RYRFjEWUR
				ZxF0EXYReBF6EXwRfhGAEYIRkxGcEbERuBG6EbwRvhHA
				EckRyhHMEdUR3BHrEfMSBBIGEggSChIMEhUSFxIZEiMS
				LBIxEj4SSxJUEmESYxJlEmcSaRJrEm0SbxKAEoIShBKG
				EogSkRKSEpQSnRKiErUSyBLZEtsS3RLfEuES6hLrEu0S
				/hMAEwITBBMGEw8TEBMSEyMTJRMnEykTKxM0EzUTNxNI
				E0oTTBNOE1ATWRNaE1wTbRNvE3ETcxN1E34TgRODE4UT
				khOTE5QTlhOjE7ATshO0E7YTuBO6E7wTyRPLE80TzxPR
				E9MT1RPXFAUUORRjFKoU5hUVFR4VIRUjFSUVLhUxFTMV
				NRU+FUEVQxVFFU4VURVTFVUVXhVhFWMVZRVuFXEVcxV1
				FX4VgxWYFa0VthW7FcAAAAAAAAACAgAAAAAAAAF+AAAA
				AAAAAAAAAAAAAAAV0g==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.cs.cmu.edu/afs/cs/project/xia/www/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>eXpressive Internet Architecture</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>amiller@cs.cmu.edu</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/afs/cs.cmu.edu/project/xia/www/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>linux.gp.cs.cmu.edu</string>
							<key>sftp</key>
							<true/>
							<key>user</key>
							<string>sukbokl</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Smart Business</string>
					<key>TitleText</key>
					<string>eXpressive Internet Architecture </string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>126727B7-F448-4242-8994-9DFD61F8DFB7</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
